@use "../abstract/variables" as v;
@forward "./tools";
@forward "./pagination";
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/Roboto/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    height: 100%;
}
body{
    position: relative;
    font-family: v.$main-font;
    font-size: v.$main-sf;
    color: v.$light-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: v.$background-color;
    height: 100%;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
ul{
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}
li{
    list-style-type: none;
}
p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding: 0rem 1rem;
    text-align: center;
}
.container-bigTittle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: #294865;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 0rem;
}

/*Table container*/
.table-container{
    width: auto;
    overflow: auto;
    .table{
        border: 1px solid black; /* Define el borde de la tabla */
        border-collapse: collapse;
        border-spacing: 0 ;
        width: 100%;
        .theader{
            background-color: v.$dark-gray-color;
            tr{
                th{
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 1rem 1rem;
                    font-weight: bold;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;  
                }
            }
        }
        .tbody{
            background-color: #294865;
            tr{
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                td{
                    padding: 1rem 1rem;
                    min-width: 5rem;
                    max-width: 30rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover{
                    background-color: #485766;
                }
            }
        }
    }
}
//CardGlobal to show one Client, one Hosting ...ecc
.container-data{
    .title{
        display: flex;
        justify-content:space-between;
        padding: 1rem 2rem; 
        align-items: center;
        text-transform: uppercase;
        background-color: v.$dark-gray-color;
        border: 1px solid #586c7a;
    }
    .container-detail{
        border: 1px solid #586c7a;
        display: flex;
        background-color: #3b4853;
        .item{
            display: flex;
            width: 100%;
            .subtitle{
                background-color:  #517b74;
            }
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                white-space: nowrap;
                
                border-collapse: collapse; 
                width: 100%;
                padding: 2rem 4rem;
            }
            @media (max-width:900px){
                display: block;
            }
        }
        @media(max-width:600px){
            display: block;
            min-width: 0;
        }
    }
}
.segment{
    width: 100%;
    min-width: 90rem;
    justify-content: center;
    align-items: center;
    @media (max-width:950px){
        min-width: 0rem;
    }
}
label{
    letter-spacing: 0.05rem;
    text-align: center;
}
.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

}
.selected{
    background-color: #536a67;
}