@use "../abstract/variables" as v;

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/Roboto/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
body{
    font-family: v.$main-font;
    font-size: v.$main-sf;
    color: v.$light-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: v.$background-color;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

//CardGlobal to show one Client, one Hosting ...ecc
.container-data{
    .title{
        display: flex;
        justify-content:space-between;
        padding: 1rem 2rem; 
        align-items: center;
        text-transform: uppercase;
        background-color: v.$dark-gray-color;
        border: 1px solid #586c7a;
    }
    .container-detail{
        border: 1px solid #586c7a;
        display: flex;
        background-color: #3b4853;
        .item{
            display: flex;
            width: 100%;
            .subtitle{
                background-color:  #517b74;
            }
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                white-space: nowrap;
                
                border-collapse: collapse; 
                width: 100%;
                padding: 2rem 4rem;
            }
            @media (max-width:900px){
                display: block;
            }
        }
        @media(max-width:600px){
            display: block;
        }
    }
}
