.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .page-link{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        text-align: center;
        margin: 0.25rem;
        padding: 1rem;
        width: auto;
        max-width: 4rem;
        min-width: 2rem;
        max-height: 4rem;
        min-height: 2rem;
        color:#d8dde4;
        background-color: #24375b;
        border-color: #8e9195;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
        .icon{
            display: flex;
            justify-content: center;
            max-width:3rem;
            min-width:1rem;
            object-fit: contain; 
        }
    }
    .actual{
        background:#324c60 ;
        cursor: default;
    }
    .opaque{
        background: #0d161d;
        cursor: default;
    }
}