@use "../abstract/variables" as v;

.card{
    display: none;
    background: v.$blue-container-color;
    padding: 1rem;
    margin: 2rem;
    width: 90%;
    box-shadow:2px 4px 20px rgba(0, 0, 0, 0.1);
    & {
        transform: translate(0px, 0px); /* Estado inicial */
        transition: transform 0.3s ease;
    }
    &:hover{
        transform: translate(0px,10px);
        transition: transform 0.5s ease; 
    }
    @media (max-width: 1180px) {
        width: 100%;
    }
}

/*Buttons*/
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    .button{
        border: none;
        flex: 1;
        border-radius: 2px;
        padding: 0.8rem 2rem;
        cursor: pointer;
        .icon{
            display: flex;
            justify-self: center;
            align-items: center;
            width:2.5rem;
        }
    }
}
.mg-y-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bt-red{
    background-color: v.$dark-button-red-color;
    color: v.$light-font-color;
    &:hover{
        background-color: v.$light-button-red-color;
    }
}
.bt-green{
    background-color:  v.$green-water-color;
    color: v.$light-font-color;
    &:hover{
        background-color: v.$green-light-water-color;
    }
}
.bt-light-blue{
    background-color: v.$dark-button-light-blue-color;
    color: v.$light-font-color;
    &:hover{
        background-color: v.$light-button-light-blue-color;
    }
}

