@use '../abstract/variables' as v;
@forward '../base/tools';

.card{
    .table-container{
        width: auto;
        overflow: auto;
        .table{
            border: 1px solid black; /* Define el borde de la tabla */
            border-collapse: collapse;
            border-spacing: 0 ;
            width: 100%;
            .theader{
                background-color: v.$dark-gray-color;
                tr{
                    th{
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 1rem 1rem;
                        font-weight: bold;
                        letter-spacing: 0.05rem;
                        text-transform: uppercase;  
                    }
                }
            }
            .tbody{
                background-color: #294865;
                tr{
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    td{
                        padding: 1rem 1rem;
                    }
                    &:hover{
                        background-color: #485766;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1140px) {
    .card{
        display: flex;
        width: 100%;
    }
}
.client-segment{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
