<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/css/main/index.css}">
    <link rel="stylesheet" th:href="@{/styles/css/modules/menu.css}">
    <title>Document</title>
</head>
<body>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <nav th:replace="~{modules/menu}"></nav>
    <div id="body" class="first-section"></div>
    <div class="card-email" id="card-email">
    </div>
    <!--Qui va il modal-->
    <div class="modal" id="modal"></div>
    <script type="module" th:src="@{../dist/main/Activities.js}"></script>
</body>
</html>