<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/css/main/index.css}">
    <link rel="stylesheet" th:href="@{/styles/css/modules/menu.css}">
    <title>Document</title>
</head>
<body>
    <nav th:replace="~{modules/menu}"></nav>
    <div class="card" id="client-card">
        <div id="client-segment" class="segment"></div>
        <div id="client-container" >
            <div class="container-bigTittle">
                <p>Clients</p>
            </div>
            <div class="table-container"></div>
            <div class="button-container mg-y-1">
                <button class="button bt-green" name="inserire" type="button">Inserire</button>
            </div>
        </div>
    </div>
    <div class="card" id="hosting-card">
        <div id="hosting-segment" class="segment"></div>
        <div id="hosting-container" >
            <div class="container-bigTittle">
                <p>Hosting</p>
            </div>
            <div class="table-container"></div>
            <div class="button-container mg-y-1">
                <button class="button bt-green" type="button">Inserire</button>
            </div>
        </div>
    </div>
    <div class="card" id="website-card">
        <div id="website-segment" class="segment"></div>
        <div id="website-container">
            <div class="container-bigTittle">
                <p>Web Site</p>
            </div>
            <div class="table-container"></div>
            <div class="button-container mg-y-1">
                <button class="button bt-green" type="button">Inserire</button>
            </div>
        </div>
    </div>
    <div class="card" id="activity-card">
        <div id="activity-segment" class="segment"></div>
        <div id="activity-container">
            <div class="container-bigTittle">
                <p>Attivita</p>
            </div>
            <div class="container-parameters">
                <p>Parametri di ricerca</p>
            </div>
            <div class="table-container"></div>
            <div class="button-container mg-y-1">
                <button class="button bt-green" type="button">Inserire</button>
            </div>
        </div>
    </div>
    <div class="card-email" id="card-email">
    </div>
    <!--Qui va il modal-->
    <div class="modal" id="modal"></div>
    <script type="module" th:src="@{/dist/main/Index.js}"></script>
</body>
</html>