$main-font:"Roboto",sans-serif;
$main-sf:1.5rem;

$light-font-color: #e8ebf0;
/*Variables of colors*/
$blue-dark-item-color: #24354d;
$blue-container-color: #1b2e50;

$background-color: #121f36;
$blue-light-color: #375179;

$dark-background-color:#1c1c1c;
/*Colors of buttons*/
$dark-button-red-color:#8d2b2b;
$light-button-red-color:#a43333;

$dark-button-green-color:#1e7e34  ;
$light-button-green-color:#27a445  ;

$dark-button-light-blue-color:#0c705e   ;
$light-button-light-blue-color:#22917c   ;

/*Color of card for one entity*/
$dark-gray-color:#343a40;